
#content{
	height: 500px;
}

#button_area{
	width: 50%;
	height: 100px;
	margin-left: 35%;
	margin-top: -50px;
	float: left;
	position: absolute;
}

#button_area button{
	margin-left: 5%;
}

#species_area{
	height: 550px;
	width: 50%;
	background-color: #F0BAAC;
	float: left;
	margin-left: 3%;
}

#species_area ul {
	position: absolute;
	bottom: 70px;
	right: 420px;

	
}

.one_species{
	float: left;
	border: thick double #F05D6C;
	height: 200px;
	width: 29%;
	margin: 2%;
}

.one_species img{
	height: 80%;
	width: 90%;
	padding-left: 10%;
}

.one_species p{
	margin-top: 8px;
	font-size: 22px;
	color: #F06D68;
	text-align: center;
}

.one_species p:hover{
	color: #F00E00;
}